.wrapper {
    display: flex;
    align-items: center;    
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgb(20, 20, 20);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex-grow: 1;
    margin-left: 12px;
}

.name {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
}

.country {
    color: rgb(192, 189, 189);
    font-size: 1.4rem;
}
