.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    color: var(--white);

    + .wrapper {
        margin-left: 10px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

//Button style
.primary {
    background-color: rgb(255, 196, 0);
    color: var(--black);

    &:hover {
        background-color: yellow;
    }
}

.outline {
    border: 1px solid var(--white);
    background-color: var(--black);

    &:hover {
        background-color: rgb(58, 57, 57);
    }
}

.text_type {
    border: 0;

    &:hover {
        color: red;
    }
}

.rounded {
    border-radius: 999px;
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 100%;
    padding: 14px 16px;
}