@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    //light theme variable
    --primary-color: #fff;
    --secondary-color: #000;
    --body-background-color: #f8f6fa;
    --title-color: #353c4c;
    --sub-title-color: rgb(102, 101, 101);
    --sidebar-item-color: #878e9e;
    --item-hover-color: rgb(245, 243, 243);
    --main-component-boxshadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --std-width: 1300px;
}

// Dark theme variable
.dark-theme {
    --primary-color: #000;
    --secondary-color: #fff;
    --body-background-color: rgb(26, 25, 25);
    --title-color: rgb(253, 253, 253);
    --sub-title-color: rgb(199, 193, 193);
    --sidebar-item-color: #a9bce0;
    --item-hover-color: rgb(56, 55, 55);
    --main-component-boxshadow: rgba(97, 97, 97, 0.219) 0px 6px 12px -2px, rgba(59, 58, 58, 0.856) 0px 3px 7px -3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(136, 127, 127, 0.5);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(179, 175, 175, 0);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: var(--body-background-color);
    transition: background 0.2s linear, color 0.2s linear;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 1);
        padding: 3px 9px;

        .tippy-arrow {
            display: none;
        }
    }
}
