.wrapper {
    --header-height: 75px;
}

.container {
    width: var(--std-width);
    margin: 0 auto;
    background-color: var(--black);
    box-shadow: rgba(83, 83, 83 / 0.12) 0 2px 12px;
    height: 2000px;
    display: flex;
}

.content {
    flex: 1;
}