.wrapper {
    width: 100%;
    background-color:var(--black);
    width: 100%;
    border-radius: 8px;

    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding: 8px 0; 
    display: flex;
    flex-direction: column;
}