.wrapper {
    --sidebar-width: 190px;
    width: var(--sidebar-width);
    position: relative;
}

.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

//logo sidebar
.logo-wrapper {
    display: flex;
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        width: 7px;
        background-color: #4caf50;
    }
}

.text {
    margin-left: 8px;
    color: #4caf50;
}
